.mouse-area{
  width: 98%;
  height: 500px;
  background: pink;
  border: 1px solid rgb(160, 137, 137);
  border-radius: 30px;
  box-shadow: 1px 1px 30px 1px black;
}

h1,h2{
  color: grey;
  margin-top: 1em;
  text-align: center;
}